.board {
  width: 100%;
  margin: 0 auto;
  background-color: black;
}

.row {
  display: flex;
  justify-content: center;
}

.tile {
  height: 10px;
  width: 10px;
}

.alive {
  background-color: lightgreen;
  composes: tile
}

.dead {
  background-color: black;
  composes: tile
}
